@debug "imported"

// TODO : turn to lists & function

=text-title-modal
    content: "Message"
    +nl
        content: "Boodschap"
    +fr
        content: "Message"
    +en
        content: "Message"
    +de
        content: "Nachricht"

=text-title-lightbox
    content: "Message"
    +nl
        content: "Boodschap"
    +fr
        content: "Message"
    +en
        content: "Message"
    +de
        content: "Nachricht"

=text-button-previous
    content: "Previous"
    +nl
        content: "Vorige"
    +fr
        content: "Pr\00E9 c\00E9 dent"
    +en
        content: "Previous"
    +de
        content: "Vorherige"

=text-button-next
    content: "Next"
    +nl
        content: "Volgende"
    +fr
        content: "Suivant"
    +en
        content: "Next"
    +de
        content: "N\00E4 chste"

=text-button-back
    content: "Back"
    +nl
        content: "Terug"
    +fr
        content: "Retour"
    +en
        content: "Back"
    +de
        content: "Zur\00FC ck"

=text-button-confirm
    content: "Confirm"
    +nl
        content: "Bevestigen"
    +fr
        content: "Confirmer"
    +en
        content: "Confirm"
    +de
        content: "Best\00E4 tigen"

=text-button-choose-formula
    content: "Choose this formula"
    +nl
        content: "Kies deze formule"
    +fr
        content: "Veuillez choisir cette formule"
    +en
        content: "Choose this formula"
    +de
        content: "TODO"

=text-ribbon-recommended
    content: "Recommended"
    +nl
        content: "Aanbevolen"
    +fr
        content: "Recommand\00E9"
    +en
        content: "Recommended"
    +de
        content: "Empholen"

=text-label-belfius-insurances
    content: "Belfius Insurances"
    +nl
        content: "Belfius Verzekeringen"
    +fr
        content: "Belfius Assurances"
    +en
        content: "Belfius Insurances"
    +de
        content: "TODO"
