<div id="QIS">
    <div id="keylaneMyQISApp" class="singlePageApplication ng-scope" style="">
        <form id="form" novalidate="novalidate" name="form" class="ng-valid-maxlength ng-dirty ng-valid-parse ng-valid-q-input-field ng-valid ng-valid-required">
            <div ui-view="body" when-ready="" class="ng-scope">
                ...
            </div>


            <div class="overlay lightbox" style="display: block;"></div>

            <div class="modal lightbox errorMessageLightbox" style="display: block; top: 535px;">
                <div class="closeLightbox">
                    <a href=""></a>
                </div>
                <div class="lightbox" id="_Form_verificationLightbox" data-lightbox-parent-id="lightboxes_Form" data-class="errorMessageLightbox">
                    <div class="literalTemplate ng-binding" id="_Form_lightboxMessageLT" ng-bind-html="formLightboxVerification.message | trustHtml">
                        <p>
                            <strong>Uw simulatie wordt stopgezet</strong>
                        </p>
                        <p>U kan uw simulatie helaas niet voltooien. Contacteer Belfius connect of ga naar uw kantoor.</p>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
