<body>
    <div class="overlay" style="display: block;"></div>

    <div class="modal" style="display: block; top: 74px; left: 10px;">
        <div class="informationBlock" id="_Form_HTR20509_0" data-information-block-parent-id="informationBlocks_Form">
            <button class="close ng-scope" ng-disabled="waitStatus.isWaiting" id="_Form_null" ng-click="framework.messages = [];closeLightbox()"
                q-button="" type="button" data-button-id="">Afsluiten</button>
            <div class="informationTitle">Waar vindt u de datum van uw rijbewijs?</div>
            <div class="informationContent">U vindt deze datum op uw rijbewijs.</div>
        </div>
    </div>
</body>