<body>
    <div class="popover top" style="display: block; position: relative; top: -145px; left: 0px;">
        <div class="arrow"></div>
        <div class="popover-content">
            <div class="fieldValidationBlock">
                <div class="fieldValidationContent">Dit veld is verplicht.</div>
            </div>
        </div>
    </div>
</body>
