<div class="entry card" ng-class="{ 'nonApplicable' : !rows.R20916_1._isVisible }">
    <div class="labels"></div>
    <div class="values">
        <div class="value date" data-data-type="date" data-label-id="LA_IF20916_24845" data-base-type="date" data-validation-status="invalid"
            data-verification-message="De datum in het veld '&amp;nbsp;' mag niet vroeger zijn dan '12-01-2018' .">
            <span class="textBeforeInputField" q-allow-interpolation="q-allow-interpolation" q-html-interpolated="">&nbsp;</span>
            <input class="date hasDatepicker ng-touched ng-not-empty ng-dirty ng-valid-parse ng-invalid ng-invalid-q-input-field"
                q-blur="" data-input-field-id="IF20916_24845" placeholder="DD-MM-YYYY" ng-model="applicationFormQuestions.IF20916_24845.value"
                q-choose-date-control="jquery-date-control" type="text" size="10" q-change="" id="_Form_IF20916_24845" data-show-calendar="true"
                q-calendar="" data-min-date="2018-01-08" name="_Form_IF20916_24845" q-input-field="" data-max-date="2018-01-08"
                data-input-field-definition-id="IF20916_24845">
            <span class="buttonAfterInputField">
                <button type="button" class="ui-datepicker-trigger" tabindex="-1"></button>
            </span>
            <span class="fieldValidationAfterInputField">
                <a href="" tabindex="-1" onclick="return false;"></a>
            </span>
        </div>
        <div class="message error verificationMessages">
            <ul>
                <li data-verification-id="IF20916_24845">De datum in het veld '&nbsp;' mag niet vroeger zijn dan '12-01-2018' .</li>
            </ul>
        </div>
    </div>
</div>
