<body>
    <div class="blockUI" style="display:none"></div>
    <div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0; cursor: default; position: fixed;"></div>
    <div class="blockUI blockMsg blockPage" style="z-index: 1011; position: fixed; padding: 0px; margin: 0px; width: 20px; top: 40%; left: 50%; text-align: center; color: rgb(0, 0, 0); cursor: default; opacity: 0.334331;">
        <img src="images/ajax-loader.gif">
    </div>
</body>
