@debug "imported"


=input-container
    position: relative
    margin: 0px $ui-input-margin
    padding: $ui-input-margin 0px ($ui-input-margin + $ui-input-error-message-height) 0px

    +phone
        +android
            input
                width: 100%
            select
                width: 100%
        +ios
            margin: 0px (-$ui-card-padding-horizontal-narrow)
            input:not(.date)
                min-width: calc(100% - #{$ui-input-margin})
            input.date
                min-width: calc(100% - #{($ui-spacing * 2) + $ui-input-margin + 2})
            select
                min-width: calc(100% - #{$ui-input-margin})



=input-label
    +tg-apply($tg-label)



=input-icon($icon: $icon-null)
    @if $icon != $icon-null
        span.textBeforeInputField
            &:after
                +icon($icon, inherit, $ui-input-line-height)

    @else
        span.textBeforeInputField
            position: absolute
            font-size: 0
            color: $ui-input-empty-icon

            &:after
                position: absolute
                top: $ui-input-padding
                left: $ui-input-padding
                +icon($icon-null, inherit, $ui-input-line-height)

        &[data-validation-status=valid]
            span.textBeforeInputField
                color: $ui-input-filled-icon

        &[data-validation-status=invalid]
            span.textBeforeInputField
                color: $ui-input-error-icon



=input-button($icon: $icon-null)
    @if $icon != $icon-null
        input + .buttonAfterInputField
            button
                &:before
                    +icon($icon, inherit, $ui-input-line-height)

    @else
        input + .buttonAfterInputField
            position: absolute
            display: inline-block

            button
                position: absolute
                right: 0px
                width: $ui-input-height
                height: $ui-input-height
                border: 0px none
                border-radius: 0px $ui-input-radius $ui-input-radius 0px
                color: $ui-input-button-color

                &:before
                    +icon($icon-search, inherit, $ui-input-line-height)

                +android
                    border-radius: 0px

                +ios
                    border-radius: 0px

        input.ng-empty + .buttonAfterInputField
            button
                background: $ui-input-empty-border-color

        input.ng-not-empty + .buttonAfterInputField
            button
                background: $ui-input-filled-border-color

        input:focus + .buttonAfterInputField
            button
                background: $ui-input-filled-border-color

        &[data-validation-status=invalid] input + .buttonAfterInputField
            button
                background: $ui-input-error-border-color

        &[data-validation-status=invalid] input:focus + .buttonAfterInputField
            button
                background: $ui-input-error-border-color

        input[disabled] + .buttonAfterInputField
            button
                background: $ui-input-disabled-border-color



=input-size($size: 10)
    input
        // padding left + padding-right + min size
        min-width: #{$ui-input-padding + $ui-input-line-height + $ui-input-padding  +  $ui-input-height  +  map-get($tg-body-large, "font-size") * $size}



=input-field-padded-border($color: transparent, $focus: false)
    padding-top: $ui-input-padding - 1px
    padding-bottom: $ui-input-padding - 1px
    // reserve space for icon
    padding-left: $ui-input-padding + $ui-input-line-height + $ui-input-padding - 1px
    // reserve space for button
    padding-right: $ui-input-height - 1px
    border: 1px solid $color
    border-radius: $ui-input-radius

    +android
        // using a gradient based background as border instead
        // to avoid slopes at the sides with thicker borders
        //padding: $ui-input-padding
        padding-top: $ui-input-padding
        padding-bottom: $ui-input-padding
        padding-left: $ui-input-padding + $ui-input-line-height + $ui-input-padding
        padding-right: $ui-input-height
        border: 0px none
        border-radius: 0px

        background-size: 100% if($focus, 2px, 1px)
        background-repeat: no-repeat
        background-position: bottom
        background-image: linear-gradient(0deg, $color, $color)

    +ios
        border-color: $color transparent $color transparent
        border-radius: 0px



=input-field

    // Some fieldsets feature 3rd party inputs (such as jQuery dropdown), in which case the
    // angular managed input is set to type hidden. To continue using the associated angular
    // classes for input state we need to duplicate these rules to the sibling input.

    // We cannot use .ng-invalid on the <input> or <select> for styling invalid states;
    // we must use data-validation-status=invalid on the .value element instead -- Keylane

    input
        +tg-apply-exclude($tg-body-large, ("line-height", "color"))

        line-height: $ui-input-line-height
        height: $ui-input-height

    input.ng-empty
        background: $ui-input-empty-background
        +input-field-padded-border($ui-input-empty-border-color)
        color: $ui-input-empty-color

    input.ng-empty ~ input
        background: $ui-input-empty-background
        +input-field-padded-border($ui-input-empty-border-color)
        color: $ui-input-empty-color

    input.ng-not-empty
        background: $ui-input-filled-background
        +input-field-padded-border($ui-input-filled-border-color)
        color: $ui-input-filled-color

    input.ng-not-empty ~ input
        background: $ui-input-filled-background
        +input-field-padded-border($ui-input-filled-border-color)
        color: $ui-input-filled-color

    input:focus
        background: $ui-input-filled-background
        +input-field-padded-border($ui-input-filled-border-color, true)
        +desktop
            box-shadow: 0px 0px 4px 0px rgba($ui-input-filled-border-color, 0.5)
        color: $ui-input-filled-color

    input ~ input:focus
        background: $ui-input-filled-background
        +input-field-padded-border($ui-input-filled-border-color, true)
        +desktop
            box-shadow: 0px 0px 4px 0px rgba($ui-input-filled-border-color, 0.5)
        color: $ui-input-filled-color

    &[data-validation-status=invalid] input
        background: $ui-input-error-background
        +input-field-padded-border($ui-input-error-border-color)
        color: $ui-input-error-color

    &[data-validation-status=invalid] input ~ input
        background: $ui-input-error-background
        +input-field-padded-border($ui-input-error-border-color)
        color: $ui-input-error-color

    &[data-validation-status=invalid] input:focus
        background: $ui-input-error-background
        +input-field-padded-border($ui-input-error-border-color, true)
        +desktop
            box-shadow: 0px 0px 4px 0px rgba($ui-input-error-border-color, 0.5)
        color: $ui-input-error-color

    &[data-validation-status=invalid] input ~ input:focus
        background: $ui-input-error-background
        +input-field-padded-border($ui-input-error-border-color, true)
        +desktop
            box-shadow: 0px 0px 4px 0px rgba($ui-input-error-border-color, 0.5)
        color: $ui-input-error-color

    input[disabled]
        background: $ui-input-disabled-background
        +input-field-padded-border($ui-input-disabled-border-color)
        color: $ui-input-disabled-color

    input[disabled] ~ input
        background: $ui-input-disabled-background
        +input-field-padded-border($ui-input-disabled-border-color)
        color: $ui-input-disabled-color


    select
        +tg-apply-exclude($tg-body-large, ("line-height", "color"))

        line-height: $ui-input-line-height
        height: $ui-input-height

    select.ng-empty
        background: $ui-input-empty-background
        +input-field-padded-border($ui-input-empty-border-color)
        color: $ui-input-empty-color

    select.ng-empty ~ select
        background: $ui-input-empty-background
        +input-field-padded-border($ui-input-empty-border-color)
        color: $ui-input-empty-color

    select.ng-not-empty
        background: $ui-input-filled-background
        +input-field-padded-border($ui-input-filled-border-color)
        color: $ui-input-filled-color

    select.ng-not-empty ~ select
        background: $ui-input-filled-background
        +input-field-padded-border($ui-input-filled-border-color)
        color: $ui-input-filled-color

    select:focus
        background: $ui-input-filled-background
        +input-field-padded-border($ui-input-filled-border-color, true)
        +desktop
            box-shadow: 0px 0px 4px 0px rgba($ui-input-filled-border-color, 0.5)
        color: $ui-input-filled-color

    select ~ select:focus
        background: $ui-input-filled-background
        +input-field-padded-border($ui-input-filled-border-color, true)
        +desktop
            box-shadow: 0px 0px 4px 0px rgba($ui-input-filled-border-color, 0.5)
        color: $ui-input-filled-color

    &[data-validation-status=invalid] select
        background: $ui-input-error-background
        +input-field-padded-border($ui-input-error-border-color)
        color: $ui-input-error-color

    &[data-validation-status=invalid] select ~ select
        background: $ui-input-error-background
        +input-field-padded-border($ui-input-error-border-color)
        color: $ui-input-error-color

    &[data-validation-status=invalid] select:focus
        background: $ui-input-error-background
        +input-field-padded-border($ui-input-error-border-color, true)
        +desktop
            box-shadow: 0px 0px 4px 0px rgba($ui-input-error-border-color, 0.5)
        color: $ui-input-error-color

    &[data-validation-status=invalid] select ~ select:focus
        background: $ui-input-error-background
        +input-field-padded-border($ui-input-error-border-color, true)
        +desktop
            box-shadow: 0px 0px 4px 0px rgba($ui-input-error-border-color, 0.5)
        color: $ui-input-error-color

    select[disabled]
        background: $ui-input-disabled-background
        +input-field-padded-border($ui-input-disabled-border-color)
        color: $ui-input-disabled-color

    select[disabled] ~ select
        background: $ui-input-disabled-background
        +input-field-padded-border($ui-input-disabled-border-color)
        color: $ui-input-disabled-color



// verification messages are added as extra divs below the field and must be
// repositioned a bit for proper placement
=input-verification-messages
    position: relative
    left: $ui-input-margin + $ui-input-padding
    // TODO: Confirm if verification messages and error messages can co-exist or
    //       not; if they can, the margin-top rule should be removed.
    margin-top: -$ui-input-error-message-height



// input error messages will appear below the field as overlaying .popover elements
// NOTE: Since phone has a 100% width input field, textBeforeInputField must be
//       outside the flow or dimensionless, else it will shift the error message.
//       Placing an icon at all times (with empty fallback) guarantees this.
//.popover
=input-error-message
    +web
        left: $ui-input-error-message-left-web + $ui-input-margin + $ui-input-padding !important
    +phone
        left: $ui-input-error-message-left-phone + $ui-input-margin + $ui-input-padding !important
        +ios
            // special case
            left: $ui-input-error-message-left-phone - $ui-spacing + $ui-input-padding !important
    +tablet
        // assumes 64Opx width cards and container whitespace
        left: calc( ((100% - #{$ui-card-width}) / 2) + #{$ui-card-padding-horizontal} + #{$ui-input-margin} + #{$ui-input-padding} ) !important

    .popover-content
        position: relative
        top: $ui-input-margin + $ui-input-height + $ui-input-margin + $ui-input-error-message-height
        width: calc(100% - #{$ui-spacing * 4})
        +ios
            top: $ui-input-margin + $ui-input-height + $ui-input-margin + $ui-input-error-message-height + 16px

        .fieldValidationContent
            +tg-apply-exclude($tg-body-small, "color")
            color: $ui-input-error-message-color
