@debug "imported"


// jQuery datepicker
//.ui-datepicker
=datepicker
    display: none
    background: $ui-datepicker-background
    box-shadow: $ui-datepicker-shadow

    &-header
        height: $ui-datepicker-header-height
        background: $ui-datepicker-header-background

    &-title
        line-height: $ui-datepicker-header-height
        text-align: center

        select
            border: 0 none
            background: transparent
            +tg-apply-exclude($tg-link-small, "line-height")

    &-prev
        position: absolute
        bottom: $ui-datepicker-nav-padding
        left: $ui-datepicker-nav-padding
        &:before
            +icon($icon-nav-left, $ui-datepicker-nav-color, $ui-datepicker-nav-size)
        &:hover
            cursor: pointer
        span
            display: none

    &-next
        position: absolute
        bottom: $ui-datepicker-nav-padding
        left: $ui-datepicker-footer-height + $ui-datepicker-nav-padding
        &:before
            +icon($icon-nav-right, $ui-datepicker-nav-color, $ui-datepicker-nav-size)
        &:hover
            cursor: pointer
        span
            display: none

    &-buttonpane
        height: $ui-datepicker-footer-height
        background: $ui-datepicker-footer-background

    &-current
        display: none

    &-close
        position: absolute
        top: $ui-datepicker-close-padding
        right: $ui-datepicker-close-padding
        font-size: 0px
        border: 0 none
        background: transparent
        &:before
            +icon($icon-circled-crossed, $ui-datepicker-close-color, $ui-datepicker-close-size)
        &:hover
            cursor: pointer

    &-calendar
        margin: $ui-datepicker-grid-margin

        span, a
            display: block
            width: $ui-datepicker-grid-cell-size
            height: $ui-datepicker-grid-cell-size
            line-height: $ui-datepicker-grid-cell-size
            text-align: center
            margin: $ui-datepicker-grid-cell-margin
            border-radius: $ui-datepicker-grid-cell-radius

        span
            +tg-apply-include($tg-body-small, ("font-family", "font-weight", "font-size"))
            color: $ui-datepicker-grid-cell-header-color
        a
            +tg-apply-include($tg-body-normal, ("font-family", "font-weight", "font-size"))
            color: $ui-datepicker-grid-cell-color

            &:hover
                background: $ui-datepicker-grid-cell-hover-background
                color: $ui-datepicker-grid-cell-hover-color

    &-week-end a
        color: $ui-datepicker-grid-cell-weekend-color

    &-current-day a
        background: $ui-datepicker-grid-cell-today-background
        color: $ui-datepicker-grid-cell-today-color
