@debug "imported"


=checktile
    // styling the checktile on the .value element, unlike the radiotile (which styles the label)
    // reason for this is that this way, we keep it compatible for working with sets
    // checktiles also aren't composed in a list as radiotiles do.
    +tg-apply($tg-body-normal)
    margin: $ui-checktile-margin

    border-radius: $ui-checktile-radius
    +android
        border-radius: $ui-android-radius

    border: $ui-checktile-normal-border
    background: $ui-checktile-normal-background

    &:hover
        border: $ui-checktile-normal-hover-border
        background: $ui-checktile-normal-hover-background

    &.checked
        border: $ui-checktile-selected-border
        background: $ui-checktile-selected-background

    & label
        display: block
        padding: $ui-checktile-padding

    & input
        +hide

    &
        label span + span
            margin-left: $ui-checktile-check-size + $ui-spacing
            position: relative
            display: inline-block
            &:before
                +icon($icon-radio-off, $ui-checktile-check-color-unchecked, $ui-checktile-check-size)
                left: -($ui-checktile-check-size + $ui-spacing)
                position: absolute
    &.checked
        label span + span
            &:before
                +icon($icon-radio-checked, $ui-checktile-check-color-checked, $ui-checktile-check-size)

