@debug "imported"


=slider-input
    // label container
    .labels
        .label
            +input-label

    // field container
    .values
        .value
            +input


=slider-bar
    .labels
        +hide

    .values

        > .value.slider
            //+output
            padding: $ui-slider-spacing

            > span

                // jQuery slider
                > span.ui-slider-horizontal
                    display: block
                    position: relative

                    border: $ui-slider-bar-border
                    border-radius: $ui-slider-bar-radius
                    background: $ui-slider-bar-background
                    height: $ui-slider-bar-height
                    margin: ($ui-slider-knob-height - $ui-slider-bar-height) / 2  $ui-slider-knob-width / 2

                    > span
                        position: absolute
                        cursor: pointer
                        touch-action: none

                        border: $ui-slider-knob-border
                        border-radius: $ui-slider-knob-radius
                        background: $ui-slider-knob-background
                        box-shadow: $ui-slider-knob-shadow
                        width: $ui-slider-knob-width
                        height: $ui-slider-knob-height
                        top: -($ui-slider-knob-height - $ui-slider-bar-height) / 2
                        margin-left: -$ui-slider-knob-width / 2


                // associated amount
                > span.textValue
                    +hide
                    //display: inline

            > span.textAfterInputField
                +hide


=slider-range
    .labels
        +hide

    .values
        display: flex
        justify-content: space-between

        > .value.fixedValue:nth-child(1)
            +output
            padding-left: $ui-slider-spacing

            > span.textValue::before
                display: block
                content: "Min"
                +tg-apply($tg-label)
                text-align: left

        > .value.fixedValue:nth-child(2)
            +output
            padding-right: $ui-slider-spacing

            > span.textValue::before
                display: block
                content: "Max"
                +tg-apply($tg-label)
                text-align: right
