@debug "imported"


=ribbon
    // container
    &
        position: relative
        overflow: hidden
        min-height: 100px

    // ribbon
    &:after
        +text-ribbon-recommended
        +tg-apply-exclude($tg-body-normal, ("color","line-height"))
        position: absolute
        top: 29px
        right: -29px
        width: 140px
        height: 24px
        line-height: 24px
        text-align: center
        transform: rotate(45deg)
        pointer-events: none

        color: $ui-ribbon-text-color
        text-shadow: $ui-ribbon-text-shadow
        background: $ui-ribbon-background
        box-shadow: $ui-ribbon-shadow
