@debug "imported"


// same as card-wrapper, without the padding
=product-selector-wrapper
    width: 100%


=product-selector
    position: relative

    > .product-selector-viewport

        +web
            overflow-x: hidden
            overflow-y: hidden

        > .product-selector-container
            display: flex
            width: 100%
            +web
                overflow-x: scroll
            overflow-y: hidden
            // assuming a scrollbar thickness of 16px
            // but offsetting an additional 20px to attribute for any variations
            padding-bottom: 20px
            margin-bottom: -36px

            > .product-selector-card
                flex: 1 0 100%
                display: flex

                padding-left: $ui-card-wrapper-padding-horizontal
                padding-right: $ui-card-wrapper-padding-horizontal
                max-width: $ui-card-wrapper-padding-horizontal + ($ui-product-card-width + $ui-card-wrapper-padding-horizontal * 2) + $ui-card-wrapper-padding-horizontal // 16px + 272px + 16px
                & + .product-selector-card
                    padding-left: 0
                    max-width: ($ui-product-card-width + $ui-card-wrapper-padding-horizontal * 2) + $ui-card-wrapper-padding-horizontal // 0px + 272px + 16px

                +phone
                    padding-left: $ui-card-wrapper-padding-horizontal-narrow
                    padding-right: $ui-card-wrapper-padding-horizontal-narrow
                    max-width: $ui-card-wrapper-padding-horizontal-narrow + ($ui-product-card-width + $ui-card-wrapper-padding-horizontal-narrow * 2) + $ui-card-wrapper-padding-horizontal-narrow // 8px + 256px + 8px
                    // spacing between product cards on phone remains 2x padding-horizontal-narrow!

                > *
                    width: 100%

    > .product-selector-navigation
        pointer-events: none
        position: absolute
        top: 0px
        bottom: 0px

        left: 0px
        right: 0px
        +web
            left: -$ui-card-container-padding-horizontal
            right: -$ui-card-container-padding-horizontal

        > .product-selector-navigation-left
            +product-selector-navigation-rail("left")

        > .product-selector-navigation-right
            +product-selector-navigation-rail("right")


=product-selector-navigation-rail($alignment)
    $disc-diameter: 100px
    $disc-clipped: 0.6
    $disc-icon-size: 20px

    $width: $disc-diameter * (1 - $disc-clipped)
    $shadow-padding: 15px

    position: absolute
    overflow: hidden
    width: $width + $shadow-padding
    top: 0px
    bottom: 0px
    @if $alignment == "left"
        left: 0px
    @if $alignment == "right"
        right: 0px
    //+web
        transition: width 50ms ease-out
        &:hover
            width: $width + $shadow-padding + ($disc-diameter * 0.1)

    div
        pointer-events: auto
        position: absolute
        width: $disc-diameter
        height: $disc-diameter
        top: calc((100% - #{$disc-diameter}) / 2)
        border-radius: 50%
        box-shadow: 0px 0px #{$shadow-padding * 2} 0px rgba(0, 0, 0, 0.2)
        opacity: 1
        background: rgba(255, 255, 255, 0.6)
        transition: opacity 200ms ease-out, background 200ms ease-out
        &[data-state=disabled]
            opacity: 0
        +web
            &:hover
                background: rgba(255, 255, 255, 0.8)

        @if $alignment == "left"
            right: $shadow-padding

            &::before
                +icon($icon-nav-left, $belfius-grey, $disc-icon-size)
                position: absolute
                top: ($disc-diameter - $disc-icon-size) / 2
                right: $width - $disc-icon-size

        @if $alignment == "right"
            left: $shadow-padding

            &::before
                +icon($icon-nav-right, $belfius-grey, $disc-icon-size)
                position: absolute
                top: ($disc-diameter - $disc-icon-size) / 2
                left: $width - $disc-icon-size
