@debug "imported"


//=product-card
    .entry:not(:last-child)
        +product-card-output

    .entry:last-child
        +product-card-submit



//=product-card-output
    display: flex
    justify-content: center
    align-items: flex-end

    .values
        order: 0

    .labels
        order: 1
        margin-left: $ui-spacing



//=product-card-submit
    & .values
        .value.radio
            display: block
            text-align: center
            padding: $ui-button-margin

            +phone
                label
                    width: 100%

            label
                display: inline-block
                +button-secondary-element
                &:before
                    +text-button-choose-formula
                span
                    display: none




=product-card
    display: flex
    flex-direction: column

    .entry
        display: flex
        align-items: flex-start

        .values
            order: 0

        .labels
            order: 1
            margin-left: $ui-spacing


    .htmlFragment
        flex: 1 1 auto

        padding-top: $ui-spacing
        border-top: 1px solid $belfius-new-grey


    .htmlFragment ~ .entry
        justify-content: center


    .infoText.link
        +tg-apply-exclude($tg-link-small, "text-align")
        padding: $ui-button-margin
        text-align: center
        a
            color: inherit



=product-card-submit
    & .labels
        display: block
        padding: $ui-button-margin
        margin-left: 0

        label
            display: block
            +button-secondary-element

        +phone
            width: 100%

    & .values
        display: none
