@debug "imported"


=lightbox-overlay
    +spread(fixed)
    z-index: 1
    background: $ui-lightbox-overlay-background
    +desktop
        background: transparent


=lightbox
    position: absolute
    left: 0 !important
    right: 0
    z-index: 1
    display: flex !important
    flex-direction: column
    align-items: center
    justify-content: center
    margin: $ui-lightbox-margin

    .closeLightbox
        position: relative
        z-index: 1
        width: 100%
        max-width: $ui-lightbox-max-width
        a
            position: absolute
            top: $ui-lightbox-close-margin
            right: $ui-lightbox-close-margin
            &:before
                +icon($icon-crossed, $ui-lightbox-close-color, $ui-lightbox-close-size)
            &:hover
                cursor: pointer

    .lightbox
        position: relative
        width: 100%
        max-width: $ui-lightbox-max-width
        background: $ui-lightbox-background
        padding: 0px $ui-lightbox-spacing $ui-lightbox-spacing $ui-lightbox-spacing
        border-radius: $ui-lightbox-radius
        +android
            border-radius: $ui-android-radius
        +ios
            border-radius: $ui-ios-radius
        +desktop
            // on desktop, the overlay is fully transparent, thus adding shadow to distinguish the layers
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5)

        &:before
            +tg-apply($tg-header)
            +text-title-lightbox
            display: $ui-lightbox-header-display
            box-sizing: content-box
            height: map-get($tg-header, "line-height")
            background: $ui-lightbox-header-background
            margin: 0px (-$ui-lightbox-spacing) 0px (-$ui-lightbox-spacing)
            padding: $ui-spacing
            border-radius: $ui-lightbox-radius $ui-lightbox-radius 0px 0px
            +android
                border-radius: $ui-android-radius $ui-android-radius 0px 0px
            +ios
                border-radius: $ui-ios-radius $ui-ios-radius 0px 0px

        p
            +tg-apply($tg-body-normal)
            margin-top: $ui-spacing

            &:first-child
                +tg-apply($tg-body-normal-accent)
                margin-top: $ui-lightbox-spacing
