@debug "imported"


=modal-overlay
    +spread(fixed)
    z-index: 1
    background: $ui-modal-overlay-background
    +desktop
        background: transparent


=modal
    position: absolute
    z-index: 1
    +phone
        // On phones we should force left to 0, because informationBlock's width may likely be bigger and end up
        // triggering recalculations that will cause an unintended "shifting animation" towards left = 0
        left: 0 !important

    .informationBlock
        position: relative
        width: 100%
        max-width: $ui-modal-max-width
        background: $ui-modal-background
        padding: 0px ($ui-modal-spacing) ($ui-modal-spacing + $ui-modal-button-height + $ui-modal-spacing) ($ui-modal-spacing)
        border-radius: $ui-modal-radius
        +android
            border-radius: $ui-android-radius
        +ios
            border-radius: $ui-ios-radius
        +desktop
            // on desktop, the overlay is fully transparent, thus adding shadow to distinguish the layers
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5)

        &:before
            +tg-apply($tg-header)
            +text-title-modal
            display: $ui-modal-header-display
            box-sizing: content-box
            height: map-get($tg-header, "line-height")
            background: $ui-modal-header-background
            margin: 0px (-$ui-modal-spacing) 0px (-$ui-modal-spacing)
            padding: $ui-spacing
            border-radius: $ui-modal-radius $ui-modal-radius 0px 0px
            +android
                border-radius: $ui-android-radius $ui-android-radius 0px 0px
            +ios
                border-radius: $ui-ios-radius $ui-ios-radius 0px 0px

        .informationTitle
            +tg-apply($tg-body-normal-accent)
            margin-top: $ui-modal-spacing

        .informationContent
            +tg-apply($tg-body-normal)
            margin-top: $ui-spacing
            ul
                list-style-type: disc
                margin: $ui-modal-list-margin
                li
                    margin: $ui-modal-list-item-margin

            a
                color: $belfius-grey
                text-decoration: underline
                &:visited
                    color: $belfius-grey
                    text-decoration: underline
                &:link
                    color: $belfius-grey
                    text-decoration: underline

        button
            position: absolute
            bottom: $ui-modal-spacing
            width: calc(100% - #{$ui-modal-spacing} - #{$ui-modal-spacing})
            height: $ui-modal-button-height
            +button-secondary-element
            font-size: 0px !important

            &:before
                +text-button-back
                +tg-apply-include($tg-button-small, "font-size")
