@debug "imported";

$font-family-belfius-bold: "Belfius Bold", sans-serif;
$font-family-belfius-black: "Belfius Black", sans-serif;
$font-family-arial: "Arial", sans-serif;
$font-family-android: $font-android, sans-serif;
$font-family-ios: $font-ios, sans-serif;


// SHARED - internal only, don't use directly!

$tg-android-title: (
    font-family: $font-family-belfius-bold,
    font-size: 16px,
    line-height: 24px,
    color: $belfius-ruby,
    text-align: center,
    letter-spacing: -0.25px
);

$tg-ios-title: (
    font-family: $font-family-belfius-black,
    font-size: 16px,
    line-height: 24px,
    color: $belfius-ruby,
    text-align: center,
    letter-spacing: -0.2px
);


$tg-android-header: (
    font-family: $font-family-android,
    font-weight: $font-weight-medium,
    font-size: 20px,
    line-height: 24px,
    text-align: center,
    color: $belfius-white
);

$tg-ios-header: (
    font-family: $font-family-belfius-black,
    font-size: 17px,
    line-height: 24px,
    color: $belfius-white,
    text-align: center,
    letter-spacing: -0.3px
);


$tg-android-link: (
    font-family: $font-family-android,
    font-weight: $font-weight-medium,
    font-size: 14px,
    line-height: 14px,
    color: $belfius-grey,
    text-transform: uppercase,
    letter-spacing: 0.5px,
    phone: (
        text-align: center
    )
);

$tg-ios-link: (
    font-family: $font-family-ios,
    font-weight: $font-weight-regular,
    font-size: 15px,
    line-height: 15px,
    color: $belfius-grey,
    text-decoration: underline,
    letter-spacing: -0.2px,
    phone: (
        text-align: center
    )
);


$tg-android-button: (
    font-family: $font-family-android,
    font-weight: $font-weight-medium,
    font-size: 17px,
    line-height: 17px,
    color: $belfius-white,
    text-align: center,
    text-transform: uppercase
);

$tg-ios-button: (
    font-family: $font-family-ios,
    font-weight: $font-weight-medium,
    font-size: 17px,
    line-height: 17px,
    color: $belfius-white,
    text-align: center,
    letter-spacing: -0.5px
);



// HEADERS

$tg-h1: (
    font-family: $font-family-belfius-black,
    font-size: 36px,
    line-height: 48px,
    color: $dvv-ruby,

    phone: (
        font-size: 24px,
        line-height: 36px
    ),
    tablet: (
        font-size: 24px,
        line-height: 36px
    ),
    android: $tg-android-title,
    ios: $tg-ios-title
);


$tg-h2: (
    font-family: $font-family-belfius-black,
    font-size: 30px,
    line-height: 32px,
    color: $belfius-ruby,

    phone: (
        font-size: 20px,
        line-height: 24px
    ),
    tablet: (
        font-size: 20px,
        line-height: 24px
    ),
    android: $tg-android-title,
    ios: $tg-ios-title
);


$tg-h3: (
    font-family: $font-family-belfius-black,
    font-size: 24px,
    line-height: 28px,
    color: $belfius-ruby,

    phone: (
        font-size: 18px,
        line-height: 24px,
    ),
    tablet: (
        font-size: 18px,
        line-height: 24px,
    ),
    android: $tg-android-title,
    ios: $tg-ios-title
);


$tg-h4: (
    font-family: $font-family-belfius-black,
    font-size: 16px,
    line-height: 20px,
    color: $belfius-ruby,

    android: $tg-android-title,
    ios: $tg-ios-title
);


$tg-header: (
    font-family: $font-family-belfius-black,
    font-size: 20px,
    line-height: 24px,
    color: $belfius-white,

    android: $tg-android-header,
    ios: $tg-ios-header
);



// LINKS

$tg-link-large: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 24px,
    line-height: 28px,
    color: $belfius-grey,

    web: (
        text-align: center,
        text-decoration: underline
    ),
    android: $tg-android-link,
    ios: $tg-ios-link
);


$tg-link-normal: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 20px,
    line-height: 28px,
    color: $belfius-grey,

    web: (
        text-align: center,
        text-decoration: underline
    ),
    android: $tg-android-link,
    ios: $tg-ios-link
);


$tg-link-small: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 16px,
    line-height: 28px,
    color: $belfius-grey,

    web: (
        text-decoration: underline
    ),
    android: $tg-android-link,
    ios: $tg-ios-link
);


$tg-link-extra-small: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 12px,
    line-height: 28px,
    color: $belfius-grey,

    web: (
        text-decoration: underline
    ),
    android: $tg-android-link,
    ios: $tg-ios-link
);



// BUTTONS

$tg-button-large: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 24px,
    line-height: 28px,
    color: $belfius-grey,

    android: $tg-android-button,
    ios: $tg-ios-button
);


$tg-button-normal: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 20px,
    line-height: 28px,
    color: $belfius-grey,

    android: $tg-android-button,
    ios: $tg-ios-button
);


$tg-button-small: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 16px,
    line-height: 28px,
    color: $belfius-grey,

    android: $tg-android-button,
    ios: $tg-ios-button
);


$tg-button-extra-small: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 14px,
    line-height: 28px,
    color: $belfius-grey,

    android: $tg-android-button,
    ios: $tg-ios-button
);



// STANDARD TEXT

$tg-body-large: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 16px,
    line-height: 24px,
    color: $belfius-grey,

    android: (
        font-family: $font-family-android,
        font-weight: $font-weight-regular,
        font-size: 16px,
        line-height: 20px
    ),
    ios: (
        font-family: $font-family-ios,
        font-weight: $font-weight-regular,
        font-size: 16px,
        line-height: 20px,
        letter-spacing: -0.2px
    )
);


$tg-body-large-accent: (
    font-family: $font-family-arial,
    font-weight: $font-weight-bold,
    font-size: 16px,
    line-height: 24px,
    color: $belfius-grey,

    android: (
        font-family: $font-family-android,
        font-weight: $font-weight-medium,
        font-size: 16px,
        line-height: 20px
    ),
    ios: (
        font-family: $font-family-ios,
        font-weight: $font-weight-semibold,
        font-size: 16px,
        line-height: 20px,
        letter-spacing: -0.2px
    )
);


$tg-body-normal: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 14px,
    line-height: 20px,
    color: $belfius-grey,

    web: (
        letter-spacing: 0.5px
    ),
    android: (
        font-family: $font-family-android,
        font-weight: $font-weight-regular,
        font-size: 14px,
        line-height: 20px
    ),
    ios: (
        font-family: $font-family-ios,
        font-weight: $font-weight-regular,
        font-size: 14px,
        line-height: 18px,
        letter-spacing: -0.1px
    )
);


$tg-body-normal-accent: (
    font-family: $font-family-arial,
    font-weight: $font-weight-bold,
    font-size: 14px,
    line-height: 20px,
    color: $belfius-grey,

    web: (
        letter-spacing: 0.5px
    ),
    android: (
        font-family: $font-family-android,
        font-weight: $font-weight-medium,
        font-size: 14px,
        line-height: 20px
    ),
    ios: (
        font-family: $font-family-ios,
        font-weight: $font-weight-semibold,
        font-size: 14px,
        line-height: 18px,
        letter-spacing: -0.1px
    )
);


$tg-body-small: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 12px,
    line-height: 16px,
    color: $belfius-grey,

    web: (
        color: $belfius-light-grey
    ),
    android: (
        font-family: $font-family-android,
        font-weight: $font-weight-regular
    ),
    ios: (
        font-family: $font-family-ios,
        font-weight: $font-weight-regular
    )
);


$tg-body-small-accent: (
    font-family: $font-family-arial,
    font-weight: $font-weight-bold,
    font-size: 12px,
    line-height: 16px,
    color: $belfius-grey,

    android: (
        font-family: $font-family-android,
        font-weight: $font-weight-medium,
    ),
    ios: (
        font-family: $font-family-ios,
        font-weight: $font-weight-semibold,
    )
);


$tg-label: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 12px,
    line-height: 16px,
    color: $belfius-light-grey,

    web: (
        letter-spacing: 0.5px
    ),
    android: (
        font-family: $font-family-android,
        font-weight: $font-weight-regular
    ),
    ios: (
        font-family: $font-family-ios,
        font-weight: $font-weight-regular
    )
);



// SPECIAL TEXT

$tg-number-large: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 14px,
    line-height: 20px,
    color: $belfius-grey,

    web: (
        text-align: right,
        letter-spacing: 0.5px
    ),
    android: (
        font-family: $font-family-belfius-black,
        font-size: 24px,
        line-height: 28px,
        color: $belfius-grey,
        letter-spacing: -0.37px
    ),
    ios: (
        font-family: $font-family-belfius-black,
        font-size: 24px,
        line-height: 28px,
        color: $belfius-grey,
        letter-spacing: -0.4px
    )
);


$tg-number: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 14px,
    line-height: 20px,
    color: $belfius-grey,

    web: (
        text-align: right,
        letter-spacing: 0.5px
    ),
    android: (
        font-family: $font-family-belfius-black,
        font-size: 18px,
        line-height: 22px,
        color: $belfius-grey,
        letter-spacing: -0.28px
    ),
    ios: (
        font-family: $font-family-belfius-black,
        font-size: 18px,
        line-height: 22px,
        color: $belfius-grey,
        letter-spacing: -0.3px
    )
);


$tg-number-small: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 14px,
    line-height: 20px,
    color: $belfius-grey,

    web: (
        text-align: right,
        letter-spacing: 0.5px
    ),
    android: (
        font-family: $font-family-belfius-black,
        font-size: 14px,
        line-height: 18px,
        color: $belfius-grey,
        letter-spacing: -0.22px
    ),
    ios: (
        font-family: $font-family-belfius-black,
        font-size: 14px,
        line-height: 18px,
        color: $belfius-grey,
        letter-spacing: -0.2px
    )
);


$tg-amount: (
    color: $belfius-grey,
    line-height: 20px,

    web: (
        font-family: $font-family-arial,
        font-weight: $font-weight-regular,
        font-size: 14px,
        line-height: 20px,
        letter-spacing: 0.5px
    ),
    android: (
        font-family: $font-family-belfius-black,
        font-size: 24px,
        line-height: 28px,
        letter-spacing: -0.37px
    ),
    ios: (
        font-family: $font-family-belfius-black,
        font-size: 24px,
        line-height: 28px,
        letter-spacing: -0.4px
    )
);


$tg-promo-amount: (
    web: (
        color: $belfius-ruby
    ),
    android: (
        color: $belfius-ruby
    ),
    ios: (
        color: $belfius-ruby
    )
);


$tg-discount-amount: (
    web: (
        text-decoration: line-through,
        color: $belfius-light-grey
    ),
    android: (
        text-decoration: line-through,
        color: $belfius-light-grey
    ),
    ios: (
        text-decoration: line-through,
        color: $belfius-light-grey
    )
);


$tg-positive: (
    color: $belfius-green-saldo
);


$tg-negative: (
    color: $belfius-red-saldo
);


$tg-currency: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 10px,
    line-height: 18px,
    color: $belfius-light-grey,
    text-align: right,
    letter-spacing: 0.4px,
    vertical-align: top
);


$tg-account-type: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 14px,
    line-height: 20px,
    color: $belfius-grey,

    web: (
        letter-spacing: 0.5px
    ),
    android: (
        font-family: $font-family-android,
        font-weight: $font-weight-regular,
        font-size: 14px,
        line-height: 18px,
        color: $belfius-ruby,
        text-transform: uppercase
    ),
    ios: (
        font-family: $font-family-ios,
        font-weight: $font-weight-regular,
        font-size: 12px,
        line-height: 14px,
        color: $belfius-ruby,
        text-transform: uppercase,
        letter-spacing: -0.2px
    )
);


$tg-account-number: (
    font-family: $font-family-arial,
    font-weight: $font-weight-regular,
    font-size: 14px,
    line-height: 20px,
    color: $belfius-grey,

    web: (
        letter-spacing: 0.5px
    ),
    android: (
        font-family: $font-family-android,
        font-weight: $font-weight-regular,
        font-size: 14px,
        line-height: 18px,
        color: $belfius-light-grey,
        text-transform: uppercase
    ),
    ios: (
        font-family: $font-family-ios,
        font-weight: $font-weight-regular,
        font-size: 12px,
        line-height: 14px,
        color: $belfius-light-grey,
        text-transform: uppercase,
        letter-spacing: -0.2px
    )
);


$tg-account-name: (
    font-family: $font-family-arial,
    font-weight: $font-weight-bold,
    font-size: 14px,
    line-height: 20px,
    color: $belfius-grey,

    web: (
        letter-spacing: 0.5px
    ),
    android: (
        font-family: $font-family-android,
        font-weight: $font-weight-medium,
        font-size: 16px,
        line-height: 20px,
        text-transform: uppercase
    ),
    ios: (
        font-family: $font-family-ios,
        font-weight: $font-weight-medium,
        font-size: 16px,
        line-height: 18px,
        text-transform: uppercase,
        letter-spacing: -0.2px
    )
);

