@debug "imported"


=radiotile-list
    &:after
        content: attr(data-validation-message)
        +tg-apply-exclude($tg-body-small, "color")
        color: $ui-input-error-message-color

    & .radioList
        display: flex
        flex-direction: column

    &.vertical .radioList
        flex-direction: column

    &.horizontal .radioList
        flex-direction: row

    & .radioList
        label
            +radiotile
            flex: 1 0 auto



=radiotile
    +tg-apply($tg-body-normal)

    margin: $ui-radiotile-margin
    padding: $ui-radiotile-padding

    border-radius: $ui-radiotile-radius
    +android
        border-radius: $ui-android-radius

    border: $ui-radiotile-normal-border
    background: $ui-radiotile-normal-background

    &:hover
        border: $ui-radiotile-normal-hover-border
        background: $ui-radiotile-normal-hover-background

    &.checked
        border: $ui-radiotile-selected-border
        background: $ui-radiotile-selected-background

    & input
        display: none



=radiotile-single
    .labels
        // inline-block at 100% width to maintain the contained margins
        display: inline-block
        width: 100%

        label
            display: block
            +radiotile

    .values
        position: absolute
        .single.value.radio

        label
            +hide

        .error.verificationMessages
            +tg-apply-exclude($tg-body-small, "color")
            color: $ui-input-error-message-color
            margin-left : $ui-radiotile-padding
