@debug "imported"


=output
    +tg-apply($tg-body-large)
    .textAfterInputField
        margin-left: map-get($tg-body-large, "font-size") / 4

    &[data-data-type="decimal"]
        .textValue
            +tg-apply($tg-amount)
            vertical-align: text-top

        .textAfterInputField
            +tg-apply($tg-currency)
            vertical-align: text-top

        &.promo-amount
            .textValue
                +tg-apply($tg-promo-amount)

        &.discount-amount
            .textValue
                +tg-apply($tg-discount-amount)

    &[data-data-type="integer"]
        .textValue
            +tg-apply($tg-amount)
            vertical-align: text-top

        .textAfterInputField
            +tg-apply($tg-currency)
            vertical-align: text-top

        &.promo-amount
            .textValue
                +tg-apply($tg-promo-amount)

        &.discount-amount
            .textValue
                +tg-apply($tg-discount-amount)
