@debug "imported"


=content-image
    img
        align-self: flex-start
        border: $ui-content-image-border
        border-radius: $ui-content-image-radius
        box-shadow: $ui-content-image-shadow
        background-color: $ui-content-image-background

        min-width: $ui-content-image-min-width
        width: $ui-content-image-width
        max-width: $ui-content-image-max-width

    &.image-max-width
        img
            width: 100%
