@debug "imported"


=content-list
    li
        +tg-apply-exclude($tg-body-normal, "color")
        color: $ui-content-list-color
        &.covered
            color: $ui-content-list-color-covered
        &.notCovered
            color: $ui-content-list-color-notcovered
        white-space: normal
        margin-top: $ui-content-list-spacing
        margin-bottom: $ui-content-list-spacing

    ol
        li
            margin-left: $ui-content-list-indent
            list-style-type: decimal

    ul
        li.covered
            margin-left: $ui-content-list-icon-indent
            position: relative
            &:before
                +icon($ui-content-list-icon-type-covered, $ui-content-list-icon-color, $ui-content-list-icon-size)
                left: -($ui-content-list-icon-margin + $ui-content-list-icon-size)
                position: absolute

        li.notCovered
            margin-left: $ui-content-list-icon-indent
            position: relative
            &:before
                +icon($ui-content-list-icon-type-notcovered, $ui-content-list-icon-color, $ui-content-list-icon-size)
                left: -($ui-content-list-icon-margin + $ui-content-list-icon-size)
                position: absolute

        li:not(.covered):not(.notCovered)
            margin-left: $ui-content-list-indent
            list-style-type: disc

    &.checkSign
        li
            margin-left: $ui-content-list-icon-indent !important
            list-style-type: none !important
            position: relative
            &:before
                +icon($ui-content-list-icon-type, $ui-content-list-icon-color, $ui-content-list-icon-size)
                left: -($ui-content-list-icon-margin + $ui-content-list-icon-size)
                position: absolute
