@debug "imported"


=content-phone-number
    a[href^="tel:"]
        display: block
        +tg-apply($tg-body-normal)

        position: relative
        margin: $ui-content-phone-number-margin (-$ui-card-padding-horizontal)
        padding: ($ui-content-phone-number-padding + map-get($tg-label, "line-height")) $ui-card-padding-horizontal $ui-content-phone-number-padding
        +phone
            margin: $ui-content-phone-number-margin (-$ui-card-padding-horizontal-narrow)
            padding: ($ui-content-phone-number-padding + map-get($tg-label, "line-height")) $ui-card-padding-horizontal-narrow $ui-content-phone-number-padding

        border-top: $ui-content-phone-number-border
        border-bottom: $ui-content-phone-number-border
        background: $ui-content-phone-number-background

        &::before
            display: block
            +text-label-belfius-insurances
            +tg-apply($tg-label)

            position: absolute
            top: $ui-content-phone-number-padding
            left: $ui-card-padding-horizontal
            +phone
                left: $ui-card-padding-horizontal-narrow

        &::after
            +icon($ui-content-phone-number-icon, inherit, map-get($tg-label, "line-height") + map-get($tg-body-normal, "line-height"))

            position: absolute
            top: $ui-content-phone-number-padding
            right: $ui-card-padding-horizontal
            +phone
                right: $ui-card-padding-horizontal-narrow
