@debug "imported"


=content-promo
    &.promo-text
        margin-top: $ui-spacing

        span
            align-self: flex-start
            display: inline-block
            padding: $ui-content-promo-text-padding
            +tg-apply-exclude($tg-body-normal, ("line-height", "color"))
            line-height: $ui-content-promo-text-line-height
            color: $ui-content-promo-text-color

            border: $ui-content-promo-text-border
            border-radius: $ui-content-promo-text-radius
            box-shadow: $ui-content-promo-text-shadow
            background-color: $ui-content-promo-text-background
