@debug "imported"


=content-summary
    &.summary-subtitle
        +tg-apply($tg-label)
        margin-bottom: $ui-spacing / 2

        & ~ .infoText:not(.summary-subtitle)
            margin-top: 0


=content-summary-image
    img
        align-self: flex-start
        border: $ui-content-summary-image-border
        border-radius: $ui-content-summary-image-radius
        box-shadow: $ui-content-summary-image-shadow
        background-color: $ui-content-summary-image-background

        min-width: $ui-content-summary-image-min-width
        width: $ui-content-summary-image-width
        max-width: $ui-content-summary-image-max-width

        +phone
            align-self: center
        +tablet
            align-self: center


=content-summary-label
    +tg-apply($tg-body-normal)


=content-summary-value
    +tg-apply-exclude($tg-body-normal, color)
    color: $ui-content-summary-value-color
    text-align: right

    .textAfterInputField
        margin-left: map-get($tg-body-normal, "font-size") / 4

    &.summary-total
        +tg-apply($tg-promo-amount)

        &.premium-excl-discounts
            +tg-apply($tg-discount-amount)

    &.promo-amount
        +tg-apply($tg-promo-amount)

    &.discount-amount
        +tg-apply($tg-discount-amount)


=content-summary-total-label
    +tg-apply($tg-label)


=content-summary-total-value
    +output
    .textValue
        +tg-apply-important($tg-promo-amount)


=content-summary-total-discount
    +tg-apply-exclude($tg-body-normal, color)
    +tg-apply($tg-discount-amount)

    .textAfterInputField
        margin-left: map-get($tg-body-normal, "font-size") / 4


=content-summary-question-label
    +tg-apply($tg-label)


=content-summary-question-value
    +tg-apply-exclude($tg-body-normal, color)
    color: $ui-content-summary-value-color
