@debug "imported"


// This wrapper expands on a checktile, by adding an additional infoText and
// fixedValue entry.  To size it correctly, we use the infoText as basis,
// provision extra padding for the entries above and below, and spread out the
// checktile to have full click capturing.
.coverage-set-3-wrapper
    $coverage-set-3-child-1-height: $ui-spacing + map-get($tg-body-large-accent, "line-height") + $ui-spacing
    $coverage-set-3-child-3-height: $ui-spacing + map-get($tg-amount, "line-height") + $ui-spacing

    // This child is absolute and stretches over the content child; z-index enforces label clickability
    > :nth-child(1)
        +spread

        .value
            +spread
            margin: 0px !important

            label
                +spread
                +tg-apply($tg-body-large-accent)
                z-index: 1
                padding: $ui-spacing

    // This (content) child is relative as it is used to determine dimensions
    > :nth-child(2)
        position: relative
        padding: $coverage-set-3-child-1-height  $ui-spacing  $coverage-set-3-child-3-height  $ui-spacing

    // This child is absolute and overlaps with the content child
    > :nth-child(3)
        position: absolute
        padding: $ui-spacing
        right: 0px
        bottom: 0px



// basic wrapper with some content
.formula-set-3-wrapper
    margin-top: $ui-spacing !important

    padding: $ui-checktile-padding

    border-radius: $ui-checktile-radius
    +android
        border-radius: $ui-android-radius

    border: $ui-checktile-normal-border
    background: $ui-checktile-normal-background

    > :nth-child(1) .value span
        +tg-apply($tg-body-large-accent)



.premium-set-6-wrapper

    // the radio is positioned relative
    // all following children are positioned absolute, placed with calculated left & bottom in provisioned space
    // (note: 2px factored in each time for border)

    // the premium set uses single radio's which already contain margins for
    // the desired spacing, thus overriding the default wrapper spacing
    & + .premium-set-7-wrapper
        margin-top: 0px !important

    > :nth-child(1)
        // single radio button
        position: relative
        label
            +tg-apply-important($tg-body-large-accent)
            padding-bottom: $ui-spacing     + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get($tg-amount, "line-height")                   + map-get($tg-amount, "line-height") !important
            +android
                padding-bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get(map-get($tg-amount, android), "line-height") + map-get(map-get($tg-amount, android), "line-height") !important
            +ios
                padding-bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get(map-get($tg-amount, ios), "line-height")     + map-get(map-get($tg-amount, ios), "line-height") !important

    > :nth-child(2)
        // discount amount
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom: $ui-spacing     + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get($tg-amount, "line-height")
        +android
            bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get(map-get($tg-amount, android), "line-height")
        +ios
            bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get(map-get($tg-amount, ios), "line-height")
        pointer-events: none

    > :nth-child(3)
        // promo amount
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height")
        pointer-events: none

    > :nth-child(4)
        // promo text (mutually exclusive)
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom: $ui-spacing + 2px + $ui-radiotile-padding
        pointer-events: none

    > :nth-child(5)
        // promo text (mutually exclusive)
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom: $ui-spacing + 2px + $ui-radiotile-padding
        pointer-events: none

    > :nth-child(6)
        // promo text (mutually exclusive)
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom: $ui-spacing + 2px + $ui-radiotile-padding
        pointer-events: none



.premium-set-7-wrapper

    > :nth-child(1)
        // single radio button
        position: relative
        label
            +tg-apply-important($tg-body-large-accent)
            padding-bottom:     $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get($tg-amount, "line-height")                   + map-get($tg-amount, "line-height")                   + map-get($tg-amount, "line-height") !important
            +android
                padding-bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get(map-get($tg-amount, android), "line-height") + map-get(map-get($tg-amount, android), "line-height") + map-get(map-get($tg-amount, android), "line-height") !important
            +ios
                padding-bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get(map-get($tg-amount, ios), "line-height")     + map-get(map-get($tg-amount, ios), "line-height")     + map-get(map-get($tg-amount, ios), "line-height") !important

    > :nth-child(2)
        // discount amount
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom:     $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get($tg-amount, "line-height")                   + map-get($tg-amount, "line-height")
        +android
            bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get(map-get($tg-amount, android), "line-height") + map-get(map-get($tg-amount, android), "line-height")
        +ios
            bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get(map-get($tg-amount, ios), "line-height")     + map-get(map-get($tg-amount, ios), "line-height")
        pointer-events: none

    > :nth-child(3)
        // promo amount
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom:     $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get($tg-amount, "line-height")
        +android
            bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get(map-get($tg-amount, android), "line-height")
        +ios
            bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height") + map-get(map-get($tg-amount, ios), "line-height")
        pointer-events: none

    > :nth-child(4)
        // text (first year)
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom: $ui-spacing + 2px + $ui-radiotile-padding + map-get($tg-body-normal, "line-height")
        pointer-events: none

        .values
            .value
                .textBeforeInputField
                    +tg-apply-important($tg-label)

    > :nth-child(5)
        // promo text (mutually exclusive)
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom: $ui-spacing + 2px + $ui-radiotile-padding
        pointer-events: none

    > :nth-child(6)
        // promo text (mutually exclusive)
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom: $ui-spacing + 2px + $ui-radiotile-padding
        pointer-events: none

    > :nth-child(7)
        // promo text (mutually exclusive)
        position: absolute
        left: $ui-radiotile-margin + 2px + $ui-radiotile-padding
        bottom: $ui-spacing + 2px + $ui-radiotile-padding
        pointer-events: none

