html
    background-color: transparent


// modal & overlay
body > .overlay
    +modal-overlay

body > .modal
    +modal


// lightbox & overlay
.lightbox.overlay
    +lightbox-overlay

.lightbox.modal
    +lightbox


// waitpointer
+waitpointer-keyframes

body > .blockUI.blockOverlay
    +waitpointer-overlay

body > .blockUI.blockPage
    +waitpointer


// input error messages
.popover
    +input-error-message


// jQuery datepicker
.ui-datepicker
    +datepicker


// jQuery dropdown
.ui-helper-hidden-accessible
    +hide

.ui-autocomplete
    +dropdown



// hide application wizard steps
#keylaneMyQISApp .main-content
    > #viewPartLocateNearbyCustomersView
        // see LocateNearbyCustomers.sass
    > :not(#viewPartLocateNearbyCustomersView)
        > h1,
        > section,
        > div.actionsBottom
            +hide

    // hide form wizard steps, summary and all dialog decoration except accordion
    .form > #viewPartForm
        > .formSequenceMenu,
        > .formSummary,
        > .formDialogue > *:not(.formAccordion)
            +hide


// hide all instruction messages
.instructionMessage
    +hide


// hide all non-applicable elements
.nonApplicable
    +hide



// flow forms
ul.formAccordion
    //transition: opacity 400ms

    // temporary class to indicate a transition between pages
    &.transition
        //opacity: 0
        +hide

    // hide inactive forms
    > li:not(.active)
        +hide

    // title of the form
    // should be placed in the F2C page or app header, so we still hide it here
    > li > .handle
        +hide

    // form contents
    > li > .content
        +card-container

        .actionsBottom
            +card-container-navigation

        // hide previous button, always
        //.actionsBottom > button.previous
            +hide

        // hide next button, unless at final card
        //.future-group:not(.nonApplicable) ~ .actionsBottom > button.next
            +hide

        // hide next button, always
        //.actionsBottom > button.next
            +hide



// TODO: Refactor common (again) to flatten and simplify structures
// (formula, summary, custom, wrapper, ...)



// convenience mixin for entries
=entry

    // custom entries require special treatment or occur in special circumstances
    // they usually need to be handled at entry level
    &.custom

        // single radio entry: deviates by requiring all styling on the label block
        &.radio.single

            // special case for product selectors where it becomes a choice button
            &.formula
                +product-card-submit

            // default case where it is to be rendered as a normal radio item
            &:not(.formula)
                +radiotile-single

        // the slider is split across 3 entries:
        // the 1st entry holds the associated input
        &.slider-input
            +slider-input
        // the 2nd entry holds the jQueryUI slider widget
        &.slider
            +slider-bar
        // the 3rd entry holds 2 values that display the range of the slider
        &.slider-range
            +slider-range


    // summary entries are visually grouped together, can contain multiple values
    // and deviate in layout from normal entries
    // we impose priority on custom entries for overriding purposes, and thus
    // summary entries cannot be custom entries
    &:not(.custom).summary
        +entry-summary


    // standard entry handling
    &:not(.custom):not(.summary)

        // label container
        .labels

            .label
                +input-label

        // field container
        .values

            .value.button.next
                +button-next

            .value.button.link
                +button-link

            .value.button.call-to-action
                +button-primary

            .value.button:not(.next):not(.link):not(.call-to-action)
                +button-secondary

            .value.fixedValue
                +output

            .value.radio
                +radiotile-list

            .value.checkbox
                +checktile

            //.value.fileSelect

            .value:not(.button):not(.fixedValue):not(.radio):not(.checkbox):not(.fileSelect)
                +input



=entry-summary
    // general summary styling
    &:not(.button):not(.summary-total):not(.summary-question)
        display: flex

        // label container
        // values must follow on the same line as the label
        .labels
            flex: 1 0 auto
            .label
                +content-summary-label

        // field container
        // May contain multiple .value, but are always expected to be of type .fixedValue
        .values
            flex: 0 0 auto
            .value
                +content-summary-value


    // summary total styling
    &.summary-total
        margin: $ui-card-panel-spacing * 1.5  0px
        display: flex
        flex-direction: column

        .labels
            margin-bottom: $ui-spacing / 2
            .label
                +content-summary-total-label

        .values
            display: flex
            flex-direction: column
            .value
                &:not(.premium-excl-discounts)
                    order: 1
                    +content-summary-total-value

                &.premium-excl-discounts
                    order: 0
                    +content-summary-total-discount


    // summary question styling
    &.summary-question
        display: flex
        flex-direction: column

        .labels
            margin-bottom: $ui-spacing / 2
            .label
                +content-summary-question-label

        .values
            display: flex
            flex-direction: column
            .value
                +content-summary-question-value


    // summary button styling
    &.button
        // no label container, label is expected to be empty

        .values

            .value.button.link
                +button-link

            .value.button.next
                +button-next

            .value.button.call-to-action
                +button-primary



// convenience mixin for general card content
=card-content
    // the first infoText always holds the card title
    &.infoText.label
        +card-title

    // additional infoTexts hold content
    &.infoText:not(.label)
        +card-panel
        +content

    // static html content
    &.htmlFragment
        +card-panel
        +content

    // locator
    &[map-lazy-load]
        // no spacing, it is supposed to follow an input
        +card-panel-no-spacing
        +locator-map
    &.adaptiveTable
        +card-panel-no-spacing
        +locator-table

    // entries hold inputs, buttons and submit controls
    &.entry
        +card-panel
        +entry

    // custom entries should be considered as one whole
    &.entry.custom ~ .entry.custom
        +card-panel-no-spacing

    // summary entries should be considered as one whole
    &.entry.summary:not(.custom):not(.button):not(.summary-total):not(.summary-question)
        +card-panel-serried



// convenience mixin for set wrapper specific content
=set-wrapper-content
    +card-panel

    position: relative
    & + .set-wrapper
        margin-top: $ui-spacing

    > .infoText
        +content

    > .htmlFragment
        +content

    > .entry
        +entry


// styling for exit-cards
section.exit.card

    +card
    +card-wrapper
    +exit-card

    // title of the exit card
    // we don't use the header/title
    .entryGroupHeader
        +card-title

    .entryGroupContent
        +card-panel
        +content
        +button-outline
        button
            margin: $ui-spacing

// an entryGroup generally represents a question or option in QIS
// we treat these as cards, provided class .card is present
.entryGroup.card

    // we don't use the header
    .entryGroupHeader
        +hide

    &.formula
        +product-selector-wrapper

        .entryGroupContent
            +product-selector

            .product-selector-card
                +card-wrapper

                > .set-wrapper
                    +card
                    +product-card

                    > *
                        // product selector cards also assume normal content
                        +card-content

    &:not(.formula)
        +card-wrapper

        .entryGroupContent
            +card

            // sets content
            > .set-wrapper
                +set-wrapper-content

            // nomal content
            > :not(.set-wrapper)
                +card-content

    // TODO: refactor
    // Somewhat out of place enforcement of image styling in summary cards
    &.summary
        .entryGroupContent
            > :not(.set-wrapper)
                &.htmlFragment
                    +content-summary-image


// set wrappers tagged with an advised class will get the "Recommended" ribbon assigned
.set-wrapper.advised
    +ribbon


//.entryGroup.card.past-group

//.entryGroup.card.active-group

// hide all future groups
.entryGroup.card.future-group
    +hide


.upload-set-3-wrapper
    +upload-wrapper




.discount-amount:not(.nonApplicable) + .promo-amount
    margin-top: 0px !important
