@debug "imported"


#viewPartLocateNearbyCustomersView
    // combined card-container & card-wrapper due to lack of HTML structure
    display: flex
    flex-direction: column
    padding-top: $ui-card-container-padding-vertical + $ui-card-wrapper-padding-vertical
    padding-bottom: $ui-card-container-padding-vertical + $ui-card-wrapper-padding-vertical !important
    width: 100%

    +web
        align-items: flex-start
        margin-left: $ui-card-container-padding-horizontal
        margin-right: $ui-card-container-padding-horizontal
        padding-left: $ui-card-wrapper-padding-horizontal
        padding-right: $ui-card-wrapper-padding-horizontal
        max-width: $ui-card-width + $ui-card-wrapper-padding-horizontal * 2
    +tablet
        align-items: center
        padding-left: $ui-card-wrapper-padding-horizontal
        padding-right: $ui-card-wrapper-padding-horizontal
        max-width: $ui-card-width + $ui-card-wrapper-padding-horizontal * 2
    +phone
        align-items: center
        padding-left: $ui-card-wrapper-padding-horizontal-narrow
        padding-right: $ui-card-wrapper-padding-horizontal-narrow
        max-width: $ui-card-width + $ui-card-wrapper-padding-horizontal-narrow * 2


    section
        +card
        width: 100%
        // blend together consecutive sections as one card style
        & + section
            margin-top: -$ui-card-padding-vertical
            box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15)


        .entry
            +card-panel
            // avoiding entry mixin to reduce size, we only expect an input here
            //+entry
            .labels
                .label
                    +input-label
            .values
                .value
                    +input


        button
            margin: $ui-button-margin
            //+card-panel
            +button-secondary-element
            +phone
                width: 100%


        .google-map
            height: 500px
