@debug "imported"


=locator-map
    margin-left: -$ui-card-wrapper-padding-horizontal
    margin-right: -$ui-card-wrapper-padding-horizontal
    +phone
        margin-left: -$ui-card-wrapper-padding-horizontal-narrow
        margin-right: -$ui-card-wrapper-padding-horizontal-narrow
