@debug "imported"


=locator-table
    +ie // HERE BE DRAGONS
        &
            margin-left: -$ui-card-wrapper-padding-horizontal
            margin-right: -$ui-card-wrapper-padding-horizontal

            table
                display: block
                width: 100%

                thead
                    +hide

                tbody
                    display: block
                    background: $ui-table-row-background
                    border-bottom: 1px solid $ui-table-row-separator-color
                    &:first-of-type
                        border-top: 1px solid $ui-table-row-separator-color

                    tr
                        display: block
                        width: 100%
                        float: left
                        position: relative
                        padding: ($ui-table-row-spacing)  ($ui-table-row-content-spacing + ($ui-table-row-content-spacing + $ui-table-row-select-icon-size + $ui-table-row-content-spacing))  ($ui-table-row-spacing)  ($ui-table-row-content-spacing + $ui-table-row-content-icon-size + $ui-table-row-content-spacing)
                        &::before
                            +icon($icon-map-pin, $ui-table-row-content-icon-color, $ui-table-row-content-icon-size)
                            position: relative
                            top: 26px + 4px // not sure why this must be 26px with a further correction of 4px, don't care either because "IE"!
                            margin-top: -26px
                            left: -($ui-table-row-content-spacing + $ui-table-row-content-icon-size)

                        &.hiddenColumns
                            +hide

                        td
                            display: block
                            width: 100%
                            float: left
                            position: relative
                            &.rowExpanderToggle
                                +hide

                        // row title
                        td:first-child
                            +tg-apply($tg-body-large)
                            margin-right: $ui-table-row-content-spacing + $ui-table-row-content-reserved
                            width: calc(100% - #{$ui-table-row-content-spacing + $ui-table-row-content-reserved})
                            .value
                                .textValue
                                    // we don't want overlap with the reserved space
                                    display: block
                                    white-space: nowrap
                                    overflow: hidden
                                    text-overflow: ellipsis

                        td:not(:first-child)
                            +tg-apply($tg-label)

                        // the distance content item (identified as the decimal data-type value) is to be placed on the first line in the reserved space
                        td
                            .value[data-data-type="decimal"]
                                position: absolute
                                bottom: 2 * 16px // address lines
                                right: 0px
                                +tg-apply-include($tg-body-large, "line-height")
                                .textValue::after
                                    content: " km"

                            button
                                position: absolute
                                bottom: -$ui-table-row-spacing
                                right: -($ui-table-row-content-spacing + ($ui-table-row-content-spacing + $ui-table-row-select-icon-size + $ui-table-row-content-spacing))
                                width: calc(100% + #{$ui-table-row-content-spacing + $ui-table-row-content-icon-size + $ui-table-row-content-spacing} + #{$ui-table-row-content-spacing + $ui-table-row-content-spacing + $ui-table-row-select-icon-size + $ui-table-row-content-spacing})
                                height: $ui-table-row-spacing + 24px + (2 * 16px) + $ui-table-row-spacing + 4px // another 4px correction for weirdness reasons
                                background: transparent
                                border: 0 none
                                color: transparent
                                &::after
                                    +icon($icon-nav-right, $ui-table-row-select-icon-color, $ui-table-row-select-icon-size)
                                    position: absolute
                                    right: $ui-table-row-content-spacing


    +not-ie
        &
            margin-left: -$ui-card-wrapper-padding-horizontal
            margin-right: -$ui-card-wrapper-padding-horizontal
            +phone
                margin-left: -$ui-card-wrapper-padding-horizontal-narrow
                margin-right: -$ui-card-wrapper-padding-horizontal-narrow

            table
                display: block

                thead
                    +hide

                tbody
                    display: block

                    +ios
                        width: 100%
                        margin-right: $ui-table-body-ios-margin

                    background: $ui-table-row-background
                    border-bottom: 1px solid $ui-table-row-separator-color
                    &:first-of-type
                        border-top: 1px solid $ui-table-row-separator-color

                    tr
                        display: block
                        position: relative
                        padding: ($ui-table-row-spacing)  ($ui-table-row-content-spacing + ($ui-table-row-content-spacing + $ui-table-row-select-icon-size + $ui-table-row-content-spacing))  ($ui-table-row-spacing)  ($ui-table-row-content-spacing + $ui-table-row-content-icon-size + $ui-table-row-content-spacing)
                        &::before
                            +icon($icon-map-pin, $ui-table-row-content-icon-color, $ui-table-row-content-icon-size)
                            position: absolute
                            top: $ui-table-row-spacing
                            left: $ui-table-row-content-spacing

                        &.hiddenColumns
                            +hide

                        td
                            display: block
                            &.rowExpanderToggle
                                +hide

                        // row title
                        td:first-child
                            +tg-apply($tg-body-large)
                            margin-right: $ui-table-row-content-spacing + $ui-table-row-content-reserved
                            .value
                                .textValue
                                    // we don't want overlap with the reserved space
                                    display: block
                                    white-space: nowrap
                                    overflow: hidden
                                    text-overflow: ellipsis

                        td:not(:first-child)
                            +tg-apply($tg-label)

                        // the distance content item (identified as the decimal data-type value) is to be placed on the first line in the reserved space
                        td
                            .value[data-data-type="decimal"]
                                position: absolute
                                top: $ui-table-row-spacing
                                right: $ui-table-row-content-spacing + ($ui-table-row-content-spacing + $ui-table-row-select-icon-size + $ui-table-row-content-spacing)
                                +tg-apply-include($tg-body-large, "line-height")
                                .textValue::after
                                    content: " km"

                            button
                                position: absolute
                                top: 0px
                                bottom: 0px
                                right: 0px
                                width: 100%
                                font-size: 0px
                                background: transparent
                                border: 0 none
                                &::after
                                    +icon($icon-nav-right, $ui-table-row-select-icon-color, $ui-table-row-select-icon-size)
                                    position: absolute
                                    top: calc((100% - #{$ui-table-row-select-icon-size}) / 2)
                                    right: $ui-table-row-content-spacing
