@debug "imported"

// Device shortcut mixins

=phone
    +restrict('body', '[data-device="phone"]')
        @content
    //+restrict('body')
        @media (max-width: 600px)
            @content

=tablet
    +restrict('body', '[data-device="tablet"]')
        @content
    //+restrict('body')
        @media (min-width: 601px) and (max-width: 1024px)
            @content

=desktop
    +restrict('body', '[data-device="desktop"]')
        @content
    //+restrict('body')
        @media (min-width: 1025px)
            @content



// OS shortcut mixins

=android
    +restrict('body', '[data-os="android"]')
        @content

=ios
    +restrict('body', '[data-os="ios"]')
        @content

=web
    +restrict('body', '[data-os="web"]')
        @content



// Language shortcut mixins

=nl
    +restrict('body', '[data-language="nl"]')
        @content

=fr
    +restrict('body', '[data-language="fr"]')
        @content

=en
    +restrict('body', '[data-language="en"]')
        @content

=de
    +restrict('body', '[data-language="de"]')
        @content



// Shitty browser shortcut mixin

=ie
    +restrict('body', '[data-browser="ie"]')
        @content

=not-ie
    +restrict('body', ':not([data-browser="ie"])')
        @content



// Typography application mixins

// Takes a map of properties and applies rules as key:value;
=tg-apply($properties, $important: false)
    $base: map-remove($properties, "desktop", "phone", "tablet", "android", "ios", "web")
    @each $name, $value in $properties
        @if $name == "desktop"
            +desktop
                +tg-apply(map-merge($base, $value), $important)
        @else if $name == "phone"
            +phone
                +tg-apply(map-merge($base, $value), $important)
        @else if $name == "tablet"
            +tablet
                +tg-apply(map-merge($base, $value), $important)
        @else if $name == "android"
            +android
                +tg-apply(map-merge($base, $value), $important)
        @else if $name == "ios"
            +ios
                +tg-apply(map-merge($base, $value), $important)
        @else if $name == "web"
            +web
                +tg-apply(map-merge($base, $value), $important)
        @else if $important == true
            #{$name}: #{$value} !important
        @else
            #{$name}: #{$value}


// Shortcut for tg-apply with $important: true
=tg-apply-important($properties)
    +tg-apply($properties, true)


// Takes a map of properties and applies rules as key:value;
// but only if the key is also present in the included list
=tg-apply-include($properties, $included)
    $base: map-remove($properties, "desktop", "phone", "tablet", "android", "ios", "web")
    @each $name, $value in $properties
        @if $name == "desktop"
            +desktop
                +tg-apply-include(map-merge($base, $value), $included)
        @else if $name == "phone"
            +phone
                +tg-apply-include(map-merge($base, $value), $included)
        @else if $name == "tablet"
            +tablet
                +tg-apply-include(map-merge($base, $value), $included)
        @else if $name == "android"
            +android
                +tg-apply-include(map-merge($base, $value), $included)
        @else if $name == "ios"
            +ios
                +tg-apply-include(map-merge($base, $value), $included)
        @else if $name == "web"
            +web
                +tg-apply-include(map-merge($base, $value), $included)
        @else if index($included, $name) != null
            #{$name}: #{$value}


// Takes a map of properties and generates rules  key:value;
// but only if the key is NOT present in the excluded list
=tg-apply-exclude($properties, $excluded)
    $base: map-remove($properties, "desktop", "phone", "tablet", "android", "ios", "web")
    @each $name, $value in $properties
        @if $name == "desktop"
            +desktop
                +tg-apply-exclude(map-merge($base, $value), $excluded)
        @else if $name == "phone"
            +phone
                +tg-apply-exclude(map-merge($base, $value), $excluded)
        @else if $name == "tablet"
            +tablet
                +tg-apply-exclude(map-merge($base, $value), $excluded)
        @else if $name == "android"
            +android
                +tg-apply-exclude(map-merge($base, $value), $excluded)
        @else if $name == "ios"
            +ios
                +tg-apply-exclude(map-merge($base, $value), $excluded)
        @else if $name == "web"
            +web
                +tg-apply-exclude(map-merge($base, $value), $excluded)
        @else if index($excluded, $name) == null
            #{$name}: #{$value}



// Hide the element
=hide
    //opacity: 0.2!important
    display: none!important



=spread($position: absolute)
    position: $position
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px

=spread--important($position: absolute)
    position: $position !important
    top: 0px !important
    left: 0px !important
    right: 0px !important
    bottom: 0px !important


=fontless-icon($icon-type, $icon-color, $icon-size)
    display: inline-block
    //font-size: calc(#{$icon-size} / 1.2)
    font-size: ($icon-size / 1.2)
    content: $icon-type
    color: $icon-color
    width: $icon-size
    height: $icon-size
    line-height: $icon-size
    text-align: center
