@debug "imported"

// All dimensionable elements should follow border-box for sizing consistency
*
    box-sizing: border-box


// Remove any browser default outline styling
// WARNING: New styling must be provided for all focusable elements to visually
//          indicate the focus!
*
    outline: 0 none


// Make all text and component chrome unselectable
// This should exclude input fields
html
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none


// Remove the default underline from anchors
a
    text-decoration: none


// Remove all padding & margins from button
button
    margin: 0
    padding: 0


// Force browser-default fieldset min-width to 0
fieldset
    min-width: 0
