@debug "imported"


=waitpointer-keyframes
    +keyframes(waitpointer)
        from
            +transform-rotate(0)
        to
            +transform-rotate(360)


=waitpointer-overlay
    +spread--important(fixed)
    background: $ui-waitpointer-overlay-background !important
    z-index: 11000 !important
    border: 0px none !important
    margin: 0px !important
    padding: 0px !important
    width: auto !important
    height: auto !important
    opacity: 1 !important
    cursor: auto !important
    +desktop
        background: transparent !important


=waitpointer
    position: absolute !important
    color: $ui-waitpointer-color !important
    z-index: 11000 !important
    margin: 0px !important
    padding: 0px !important
    left: calc((100% - #{$ui-waitpointer-padding + $ui-waitpointer-size + $ui-waitpointer-padding}) / 2) !important
    width: $ui-waitpointer-size !important
    height: $ui-waitpointer-size
    background: $ui-waitpointer-background
    border: $ui-waitpointer-padding solid transparent
    border-radius: $ui-waitpointer-radius
    box-shadow: $ui-waitpointer-shadow
    box-sizing: content-box
    text-align: left !important
    opacity: 1 !important
    cursor: auto !important

    img
        display: none

    &:before
        +icon($icon-waitpointer, inherit, $ui-waitpointer-size)
        +animation(waitpointer $ui-waitpointer-duration 0s infinite linear)
        // flexbox to force properly centering the waitpointer on Android
        display: flex
        justify-content: center
        align-items: center
