@debug "imported"


=card-container
    display: flex
    flex-direction: column
    padding-top: $ui-card-container-padding-vertical
    padding-bottom: $ui-card-container-padding-vertical !important

    +web
        align-items: flex-start
        padding-left: $ui-card-container-padding-horizontal
        padding-right: $ui-card-container-padding-horizontal
    +tablet
        align-items: center
        padding-left: 0px
        padding-right: 0px
    +phone
        align-items: center
        padding-left: 0px
        padding-right: 0px


=card-container-navigation
    +card-wrapper
    display: flex
    justify-content: center

    button
        +button-tertiary-element("small")
        font-size: 0px !important
        margin: 0 $ui-spacing
        +web
            padding: 11px !important

        &.previous:before
            +icon($icon-nav-left, inherit, 18px)

        &.next:before
            +icon($icon-nav-right, inherit, 18px)

        &:not(.previous):not(.next)
            display: none


=card-wrapper
    padding-top: $ui-card-wrapper-padding-vertical
    padding-bottom: $ui-card-wrapper-padding-vertical
    width: 100%

    +web
        padding-left: $ui-card-wrapper-padding-horizontal
        padding-right: $ui-card-wrapper-padding-horizontal
        max-width: $ui-card-width + $ui-card-wrapper-padding-horizontal * 2
    +tablet
        padding-left: $ui-card-wrapper-padding-horizontal
        padding-right: $ui-card-wrapper-padding-horizontal
        max-width: $ui-card-width + $ui-card-wrapper-padding-horizontal * 2
    +phone
        padding-left: $ui-card-wrapper-padding-horizontal-narrow
        padding-right: $ui-card-wrapper-padding-horizontal-narrow
        max-width: $ui-card-width + $ui-card-wrapper-padding-horizontal-narrow * 2


=card
    padding-top: $ui-card-padding-vertical
    padding-bottom: $ui-card-padding-vertical
    background-color: $ui-card-background
    border: $ui-card-border
    border-radius: $ui-card-radius
    box-shadow: $ui-card-shadow

    +web
        padding-left: $ui-card-padding-horizontal
        padding-right: $ui-card-padding-horizontal
    +tablet
        padding-left: $ui-card-padding-horizontal
        padding-right: $ui-card-padding-horizontal
    +phone
        padding-left: $ui-card-padding-horizontal-narrow
        padding-right: $ui-card-padding-horizontal-narrow
    +android
        border-radius: $ui-android-radius
    +ios
        border-radius: $ui-ios-radius

=exit-card

=card-title
    +tg-apply-include($tg-h4, "text-align")
    a:after
        +icon($icon-circled-info, $belfius-soft-grey)
        float: right
    span
        +tg-apply-exclude($tg-h4, "text-align")


=card-panel
    margin-top: $ui-card-panel-spacing

=card-panel-serried
    margin-top: $ui-card-panel-spacing / 4

=card-panel-no-spacing
    margin-top: 0px
