@debug "imported"


=button-container
    //margin: $ui-input-margin
    padding: $ui-button-margin

    +phone
        button
            width: 100%

    & + .verificationMessages
        padding: 0px $ui-button-margin $ui-button-margin $ui-button-margin
        +tg-apply-exclude($tg-body-small, "color")
        &.error
            color: $ui-button-error-message-color



=button-common($size)

    @if $size == "large"
        +tg-apply($tg-button-large)
        +web
            min-height: $ui-button-large-height
            padding: $ui-button-large-padding
            border-radius: $ui-button-large-radius

    @else if $size == "normal"
        +tg-apply($tg-button-normal)
        +web
            min-height: $ui-button-normal-height
            padding: $ui-button-normal-padding
            border-radius: $ui-button-normal-radius

    @else if $size == "small"
        +tg-apply($tg-button-small)
        +web
            min-height: $ui-button-small-height
            padding: $ui-button-small-padding
            border-radius: $ui-button-small-radius

    @else if $size == "extra-small"
        +tg-apply($tg-button-extra-small)
        +web
            min-height: $ui-button-extra-small-height
            padding: $ui-button-extra-small-padding
            border-radius: $ui-button-extra-small-radius

    // android has fixed size buttons
    +android
        min-height: $ui-button-android-height
        padding: $ui-button-android-padding
        border-radius: $ui-button-android-radius

    // ios has fixed size buttons
    +ios
        min-height: $ui-button-ios-height
        padding: $ui-button-ios-padding
        border-radius: $ui-button-ios-radius

    cursor: pointer
    &[disabled]
        cursor: default

