@debug "imported"


=button-link-element($size: "small")

    border: 0px none
    background: transparent

    @if $size == "large"
        +tg-apply-exclude($tg-link-large, "text-align")

    @else if $size == "normal"
        +tg-apply-exclude($tg-link-normal, "text-align")

    @else if $size == "small"
        +tg-apply-exclude($tg-link-small, "text-align")

    @else if $size == "extra-small"
        +tg-apply-exclude($tg-link-extra-small, "text-align")

    cursor: pointer
    &[disabled]
        cursor: default


=button-link($size: "small")
    +button-container
    // TODO: separate common rules in typography
    @if $size == "large"
        +tg-apply-include($tg-link-large, "text-align")

    @else if $size == "normal"
        +tg-apply-include($tg-link-normal, "text-align")

    @else if $size == "small"
        +tg-apply-include($tg-link-small, "text-align")

    @else if $size == "extra-small"
        +tg-apply-include($tg-link-extra-small, "text-align")

    button
        +button-link-element($size)
