@debug "imported"


=button-next($size: "small")

    +desktop
        +button-secondary($size)
        button
            font-size: 0px
            &:before
                +text-button-next
                @if $size == "large"
                    font-size: map-get($tg-button-large, "font-size")
                @else if $size == "normal"
                    font-size: map-get($tg-button-normal, "font-size")
                @else if $size == "small"
                    font-size: map-get($tg-button-small, "font-size")
                @else if $size == "extra-small"
                    font-size: map-get($tg-button-extra-small, "font-size")

    +phone
        +button-thumb($icon-checked)

    +tablet
        +button-thumb($icon-checked)
