@debug "imported"


=button-outline-element($size: "small")
    +button-common($size)

    &
        border: 1px solid $ui-button-outline-normal-border-color
        color: $ui-button-outline-normal-color !important
        background: $ui-button-outline-normal-background

    &:hover
        border: 1px solid $ui-button-outline-hover-border-color
        color: $ui-button-outline-hover-color !important
        background: $ui-button-outline-hover-background

    &:focus
        border: 1px solid $ui-button-outline-focus-border-color
        color: $ui-button-outline-focus-color !important
        background: $ui-button-outline-focus-background
        +desktop
            box-shadow: $ui-button-outline-focus-shadow

    &:active
        border: 1px solid $ui-button-outline-pressed-border-color
        color: $ui-button-outline-pressed-color !important
        background: $ui-button-outline-pressed-background

    &[disabled]
        border: 1px solid $ui-button-outline-disabled-border-color
        color: $ui-button-outline-disabled-color !important
        background: $ui-button-outline-disabled-background



=button-outline($size: "small")
    +button-container

    button
        +button-outline-element($size)
