@debug "imported"


=button-primary-element($size: "small")
    +button-common($size)

    &
        border: 0px none
        color: $ui-button-primary-normal-color !important
        background: $ui-button-primary-normal-background

    &:hover
        color: $ui-button-primary-hover-color !important
        background: $ui-button-primary-hover-background

    &:focus
        color: $ui-button-primary-focus-color !important
        background: $ui-button-primary-focus-background
        +desktop
            box-shadow: $ui-button-primary-focus-shadow

    &:active
        color: $ui-button-primary-pressed-color !important
        background: $ui-button-primary-pressed-background

    &[disabled]
        color: $ui-button-primary-disabled-color !important
        background: $ui-button-primary-disabled-background



=button-primary($size: "small")
    +button-container

    button
        +button-primary-element($size)
