@debug "imported"


=button-secondary-element($size: "small")
    +button-common($size)

    &
        border: 0px none
        color: $ui-button-secondary-normal-color !important
        background: $ui-button-secondary-normal-background

    &:hover
        color: $ui-button-secondary-hover-color !important
        background: $ui-button-secondary-hover-background

    &:focus
        color: $ui-button-secondary-focus-color !important
        background: $ui-button-secondary-focus-background
        +desktop
            box-shadow: $ui-button-secondary-focus-shadow

    &:active
        color: $ui-button-secondary-pressed-color !important
        background: $ui-button-secondary-pressed-background

    &[disabled]
        color: $ui-button-secondary-disabled-color !important
        background: $ui-button-secondary-disabled-background



=button-secondary($size: "small")
    +button-container

    button
        +button-secondary-element($size)
