@debug "imported"


=button-tertiary-element($size: "small")
    +button-common($size)

    &
        border: 0px none
        color: $ui-button-tertiary-normal-color !important
        background: $ui-button-tertiary-normal-background

    &:hover
        color: $ui-button-tertiary-hover-color !important
        background: $ui-button-tertiary-hover-background

    &:focus
        color: $ui-button-tertiary-focus-color !important
        background: $ui-button-tertiary-focus-background
        +desktop
            box-shadow: $ui-button-tertiary-focus-shadow

    &:active
        color: $ui-button-tertiary-pressed-color !important
        background: $ui-button-tertiary-pressed-background

    &[disabled]
        color: $ui-button-tertiary-disabled-color !important
        background: $ui-button-tertiary-disabled-background



=button-tertiary($size: "small")
    +button-container

    button
        +button-tertiary-element($size)
