@debug "imported"


=button-thumb-element($icon: $icon-space)
    border-width: $ui-button-thumb-border-width
    border-style: solid
    border-radius: $ui-button-thumb-radius
    cursor: pointer
    font-size: 0px

    &:before
        +icon($icon, inherit, $ui-button-thumb-size)
        font-size: $ui-button-thumb-size * (2 / 3)

    &
        border-color: $ui-button-thumb-normal-border-color
        color: $ui-button-thumb-normal-color !important
        background: $ui-button-thumb-normal-background

    &:hover
        border-color: $ui-button-thumb-hover-border-color
        color: $ui-button-thumb-hover-color !important
        background: $ui-button-thumb-hover-background

    &:focus
        border-color: $ui-button-thumb-focus-border-color
        color: $ui-button-thumb-focus-color !important
        background: $ui-button-thumb-focus-background
        +desktop
            box-shadow: $ui-button-thumb-focus-shadow

    &:active
        border-color: $ui-button-thumb-pressed-border-color
        color: $ui-button-thumb-pressed-color !important
        background: $ui-button-thumb-pressed-background

    &[disabled]
        border-color: $ui-button-thumb-disabled-border-color
        color: $ui-button-thumb-disabled-color !important
        background: $ui-button-thumb-disabled-background
        cursor: default



=button-thumb($icon: $icon-space)
    text-align: center

    button
        +button-thumb-element($icon)
