@debug "imported"


=upload-wrapper

    .upload-set-3-3
        margin-bottom: 42px

        &:after
            top: 38px
            position: relative
            content: attr(data-validation-message)
            +tg-apply-exclude($tg-body-small, "color")
            color: $ui-input-error-message-color
            margin-left : $ui-spacing


    // infoText
    // contains the title and provides a fixed amount of spacing to accommodat
    // the (not) required infoText and the fileSelect entry
    // pointer-events at none is needed here to allow z-index
    > :nth-child(1)
        position: relative
        padding: $ui-upload-padding-bordered  $ui-upload-padding-bordered + $ui-upload-icon-size + $ui-spacing  $ui-upload-padding-bordered + map-get($tg-label, "line-height") + $ui-spacing + map-get($tg-body-normal, "line-height")  $ui-upload-padding-bordered
        z-index: 1
        pointer-events: none

        span
            +tg-apply($tg-body-normal-accent)

        &:after
            +icon($icon-upload, $ui-upload-icon-color, $ui-upload-icon-size)
            position: absolute
            right: $ui-upload-padding-bordered
            top: calc((100% - #{$ui-upload-icon-size}) / 2)


    // infoText
    // contains whether or not the file is required
    // to be positioned at the bottom of the tile
    > :nth-child(2)
        position: absolute
        left: $ui-upload-padding-bordered
        bottom: $ui-upload-padding-bordered
        z-index: 1
        pointer-events: none

        span
            +tg-apply($tg-label)


    // entry
    // the fileSelect will spread over the wrapper area to allow dynamic title lengths
    // and provide the tile styling
    > :nth-child(3)

        .value.fileSelect

            span.fileSelect

                label
                    +spread
                    display: block
                    color: transparent

                    padding: $ui-radiotile-padding

                    border-radius: $ui-radiotile-radius
                    +android
                        border-radius: $ui-android-radius

                    border: $ui-radiotile-normal-border
                    background: $ui-radiotile-normal-background

                    &:hover
                        border: $ui-radiotile-normal-hover-border
                        background: $ui-radiotile-normal-hover-background

                input
                    display: none
                    // no pointer events to avoid a bleedthrough cursor in IE
                    pointer-events: none


            span.filename
                +tg-apply($tg-body-normal)

                display: inline-block
                position: absolute
                left: $ui-upload-padding-bordered
                bottom: $ui-upload-padding-bordered + map-get($tg-label, "line-height") + $ui-spacing
                z-index: 1
                pointer-events: none
