@debug "imported"


=dropdown
    // we cannot override the inline-style display:block to display:inline-block
    // as that would require !important and break hiding the dropdown again
    // instead we make sure the width accounts for the appropriate card spacing
    // and we enforce an upper limit that works for tablets & desktops, by
    // keeping it within card size
    width: calc(100% - #{2 * ($ui-card-container-padding-horizontal + $ui-card-wrapper-padding-horizontal + $ui-card-padding-horizontal + $ui-input-margin)}) !important

    // business wants the dropdown list to be as wide as the input only; but as
    // we don't know this width, we will approximate it with an educated guess
    // of 20em at normal body font size
    +tg-apply-include($tg-body-normal, "font-size")
    max-width: 20em
    //max-width: $ui-card-width - 2 * ($ui-card-padding-horizontal + $ui-input-margin)

    background: $ui-dropdown-background
    box-shadow: $ui-datepicker-shadow
    // z-index is required to cover any error message that would otherwise overlay it
    z-index: 1

    +phone
        // phone has full width inputs
        max-width: 100%

        +android
            width: calc(100% - #{2 * ($ui-card-wrapper-padding-horizontal-narrow + $ui-input-margin + $ui-input-padding)}) !important
        +ios
            width: calc(100% - #{2 * ($ui-card-wrapper-padding-horizontal-narrow)}) !important


    li
        padding: $ui-dropdown-item-padding
        background: transparent
        border-top: 1px solid $ui-dropdown-item-separator
        &:hover
            background: $ui-dropdown-item-hover-background
        &::first-child
            border-top: 0px none

        a
            +tg-apply-exclude($tg-body-normal, "color")
            color: $ui-dropdown-item-color
