@debug "imported"


=select
    // remove native arrow
    -moz-appearance: none
    -webkit-appearance: none
    &::-ms-expand
        display: none

    option
        +tg-apply-exclude($tg-body-normal, ("color", "font-size"))
        color: $ui-dropdown-item-color
        background: $ui-dropdown-background
